@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html body {     
            margin: 0 auto;
        } 
 
nav {
	text-align: right;
	font-family: "RalewayBold", 'Times New Roman', Arial;
	font-size: 13px;
	
}
ul {
	margin: 0 auto;
}

ul li {
	display: inline-block;
	list-style: none;
	margin: 55px 0px 40px 60px;
	text-transform: uppercase; 
	font-size: 13px;

}
li > a {
	color: #ffffff;
    text-decoration: none;
    transition: all .3s;
   }
   p > a {
	color: white;
    text-decoration: none;
    transition: all .3s;
   }
   header {
   	background-image: url(image/fon.jpg);
   	min-height: 750px;
   
   }
   h2 {
   	font-family: "RalewayBold";
   	font-size: 14px;
   	color: #2d3033;
   	text-transform: uppercase;
   }
.logo {
	text-align: left;
	float: left;
	margin-top: 50px;
}
.top {
	width: 1172px;
	margin: 0 auto;
}
main {
	width: 900px;
	margin: 0 auto;
}

.main {
	color: white;
	font-size: 65px;
	font-family: 'Open Sans Bold', "Times New Romana", Arial ;
	text-transform: uppercase;
	text-align: center;	
	margin-top: 145px;

}
.top::after {
	  content: ""; 
      display: block;
      background: #9d9fb2;
      width: 1172px;
      height: 1px;
      margin: 0 auto;
  }
  .info {
  	font-size: 22px;
  	font-family: 'Raleway Regular', "Times New Romana", Arial ;
  
  	color: white;
  	margin-top: 35px;
  	text-align: center;
  }
  p {
  	color: white;
  	font-size: 13px;
  	font-family: 'Raleway Semibold', "Times New Romana", Arial;
  	
  }
  button {
	
  	margin-top: 70px;
	background: #e84545;
	width: 198px;
	height: 46px;
	border-style: none;
	text-transform: uppercase;
	color: #ffffff;

}
.button {
	text-align: center;
	font-family: "MyriadProRegular", Arial;

}
 section {
     margin: 0 auto;
     background: #ffffff;
     max-width: 1435px;
     position: relative;
     margin-top: 120px;
        	
        }
        .content1 {
	display: flex; 
	justify-content: space-around;
	flex-flow: row wrap;
	text-align: center;
	width: 1100px;
	margin: 0 auto;
	 }
	 .content2 {
	display: flex; 
	justify-content: space-around;
	flex-flow: row wrap;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	 }
        .text {
        	font-family: 'Raleway Regular', "Times New Romana", Arial;
        	font-size: 14px;
        	width: 280px;аг
        	height: 73px;
        	line-height: 2.1;
        	color: #6c7279;

        }
        .sprite {
		    background-image: url(image/spritesheet7.png);
		    background-repeat: no-repeat;
		    display: inline-block;
		}
	
		.sprite-3 {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
		}

		.sprite-4 {
		    width: 73px;
		    height: 60px;
		    background-position: -75px -5px;
		}

		.sprite-5 {
		    width: 41px;
		    height: 60px;
		    background-position: -5px -75px;
		}

		.sprite-6 {
		    width: 56px;
		    height: 60px;
		    background-position: -56px -75px;
		    margin-top: 55px;
		}

		.sprite-7 {
		    width: 72px;
		    height: 60px;
		    background-position: -158px -5px;
		     margin-top: 55px;
		}

		.sprite-8 {
		    width: 79px;
		    height: 60px;
		    background-position: -122px -75px;
		     margin-top: 55px;
		}
.icon-content {
			display: inline-block;
		}
		.icon-footer {
			display: inline-block;
		}
		.galery {
			margin-top: 60px;
			display: inline-block;

			
		}

		figure {
			display: inline-block;
			margin: 100px 30px 30px 0px;
		}
		.team {
			margin: 0 auto;
			width: 1700px;
			text-align: center;
			margin-bottom: 95px;

		}
		footer {
			;
			background-color: #3a3e64;
			color: white;
			

		}
		.footer {
			width: 1172px;
			margin: 0 auto;
			margin-bottom: 70px;
			padding: 40px;

		}
		.loc {
			display: inline-block;
			text-align: center;
			width: 33%;

		}
		.loc1 {
			display: inline-block;
			text-align: center;
			color: #9d9fb2;
			font-family: "MyriadProRegular", "Times New Romana", Arial;
			font-size: 14px;

			

		}
		.share {
			display: inline-block;
			text-align: center;
			width: 33%;
			
			
		}
		.about {
			display: inline-block;
			text-align: center;
			
			width: 33%;
		}
		h5{
			text-transform: uppercase;
			font-family: 'Raleway Bold', "Times New Romana", Arial;
			font-size: 14px;


		}
		address {
			margin: 0 auto;
			width: 157px;
			font-size: 14px;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			color: #9d9fb2;
			font-style: inherit;

		}
		.bottom1 {
			margin: 0 auto;
			width: 330px;
			font-size: 14px;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			color: #9d9fb2;

		}
		.but {

			font-size: 15px;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			color: #9d9fb2;
			display: inline-block;

		}

		 .copyright {
		 	text-align: center;
		 	margin: 0 auto;
			font-size: 14px;
			font-family: "Raleway", "Times New Romana", Arial;
			
		}
		 .author {
		 	display: inline-block;
		 	text-align: center;
			font-family: "Myriad Pro Regular", "Times New Romana", Arial;
			
		}
		.copy {
			background-color: #313454;
			text-align: center;
			
		}
	
		.b {
			display: inline-block;
			color: #9d9fb2;
		}
		h6 {
			margin-bottom: 3px;
			font: inherit;
		}
		h3 {
			text-align: left;
			color: #2d3033;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			font-size: 22px;
			margin-top: 15px;
			font-weight: inherit;
		}
		h4 {
			color: #e84545;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			font-size: 13px;
			text-transform: uppercase;
			text-align: left;
			font: inherit;
		}
		.biography {
			text-align: left;
			width: 250px;
			color: #6c7279;
			font-family: "Raleway Regular", "Times New Romana", Arial;
			font-size: 14px;
			line-height: 1.5;
		}
	.icon-team {
		text-align: left;
		margin-top: 15px;
	}
	li > a:hover {
	color: #e84545;	
	}
	button:hover{
		color: rgb(97,74,185);	
	}
	.effect {
		display: inline-block;	
		font-size: 0;
  		position: relative;

}
.effect > img {
	width: 100%;
	border: 1px solid #ffffff;
}
.eff-1-1 {
  overflow: hidden;
  width: 25%;
  float: left;
}
.eff-1-1 .caption {
  text-align: center;
  position: absolute;
  top: -100%;
  left: 0px;
  background: rgba(232,69,69,0.5);
  width: 100%;
  height: 100%;
  color: #fff;
}
.eff-1-1 .caption h4 {
	  font-family: "RalewayBold", "Times New Romana", Arial;	
	  font-size: 14px;
	  text-transform: uppercase;
	  margin-top: 150px;
	  
}
.eff-1-1 .caption p {
  font-family: "Raleway Regular", "Times New Romana", Arial;	
  
  font-size: 14px;

}

.eff-1-1:hover .caption {
  top: 0px;
}
h4 > a {
	text-decoration: none;
	color: white;
}
.spritefooter {
    background-image: url(image/spritesheet12.png);
    background-repeat: no-repeat;
    display: block;
}
.spritefooter:hover {
    background-image: url(image/spritesheet012.png);
    background-repeat: no-repeat;
    display: block;
    }

.sprite-fb {
    width: 40px;
    height: 40px;
    background-position: -9px -9px;
}

.sprite-in {
    width: 40px;
    height: 40px;
    background-position: -67px -9px;
}

.sprite-tw {
    width: 40px;
    height: 40px;
    background-position: -125px -9px;
}
.spriteteam {
    background-image: url(image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;

}
.spriteteam:hover {
    background-image: url(image/spritesheet013.png);
    background-repeat: no-repeat;
    display: block;

}

.sprite-icon1 {
    width: 40px;
    height: 40px;
    background-position: -5px -5px;
}

.sprite-icon2 {
    width: 40px;
    height: 40px;
    background-position: -55px -5px;
}

.sprite-icon3 {
    width: 40px;
    height: 40px;
    background-position: -105px -5px;
}
.teamicon {
	text-align: left;
}